:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: none;
}
button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px oklch(92.8% 0.006 264.531);
  border-radius: 4px;
}
button:focus:not(:focus-visible) {
  box-shadow: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
